server {
        listen 80;
        listen [::]:80;

        root /home/{{ .SiteName }}/www;

        index index.php index.html index.htm index.nginx-debian.html;

        server_name {{ .SiteName }}.example.com;

        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/run/php/php8.3-fpm-{{ .SiteName }}.sock;
        }
}