{{ define "create-site" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>myrs</title>
</head>

<body>
    <h1>MyRS</h1>

    <form action="/create-site" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        サイト名: <input type="text" name="site_name" />.{{ .SiteDomain }}
        <br>
        パスワード: <input type="password" name="password" />
        <br>
        パスワード: <input type="password" name="repassword" />
        <br>
        RepoURL: <input type="text" name="repo_url" placeholder="https://github.com/..." />/www/<input type="text"
            name="path" placeholder="" />
        <br>
        <button type="submit">作成する</button>
    </form>
</body>

</html>
{{ end }}