{{ define "index" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>myrs</title>
</head>

<body>
    <h1>MyRS</h1>

    {{ if .IsLogin}}
    <a href="http://{{ .Site.Name }}.{{ .SiteDomain }}" target="_blank">http://{{ .Site.Name }}.{{ .SiteDomain }}</a>
    <form action="/sign-out" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <button type="submit">ログアウト</button>
    </form>

    <form action="/create-deploy" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <button type="submit">デプロイを作成する</button>
    </form>
    ActiveDeployID: {{ .ActiveDeployID }}
    <table border=1>
        <tbody>
            {{ range .Site.Deploys }}
            <tr>
                <td>{{ .Revision }}</td>
                <td>{{ .CreatedAt }}</td>
                <td>{{ if eq .ID $.ActiveDeployID }}Active{{ end }}</td>
                <td>
                    <form action="/active-deploy" method="POST">
                        <input type="hidden" name="_csrf" value="{{ $.CSRF }}" />
                        <input type="hidden" name="deploy_id" value="{{ .ID }}" />
                        <button type="submit">有効にする</button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <h2>Logs</h2>

    <table border=1>
        <thead>
            <tr>
                <th>Time</th>
                <th>RemoteAddr</th>
                <th>Method</th>
                <th>Path</th>
                <th>Protocol</th>
                <th>BodyBytesSent</th>
                <th>ResponseTime</th>
                <th>UserAgent</th>
                <th>Referer</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Logs }}
            <tr>
                <td>{{ .Time }}</td>
                <td>{{ .RemoteAddr }}</td>
                <td>{{ .Method }}</td>
                <td>{{ .Path }}</td>
                <td>{{ .Protocol }}</td>
                <td>{{ .BodyBytesSent }}</td>
                <td>{{ .RequestTime }}</td>
                <td>{{ .UserAgent }}</td>
                <td>{{ .Referer}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    ログインまたは<a href="/create-site">サイトを作成する</a>
    <form action="/sign-in" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        サイト名: <input type="text" name="site_name" />.{{ .SiteDomain }}
        <br>
        パスワード: <input type="password" name="password" />
        <br>
        <button type="submit">ログイン</button>
    </form>
</body>

{{ end }}

</html>
{{ end }}