{{ define "index" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>myrs</title>
</head>
<style>
    @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
</style>

<body>

    <main class="container">
        <section class="section is-medium">
            <div class="card">
                <div class="card-content">
                    {{ if .IsLogin}}
                    <p class="title">
                        <a href="http://{{ .Site.Name }}.{{ .SiteDomain }}" target="_blank">http://{{ .Site.Name }}.{{
                            .SiteDomain
                            }}</a>
                    </p>

                    <div class="buttons">
                        <form action="/sign-out" method="POST">
                            <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                            <button class="button is-danger" type="submit">ログアウト</button>
                        </form>

                        <form action="/create-deploy" method="POST">
                            <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                            <button class="button is-success" type="submit">デプロイを作成する</button>
                        </form>

                        <a class="button" href="/log">Logs</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Commit</th>
                                <th>CreatedAt</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .Site.Deploys }}
                            <tr>
                                <td>{{ .Revision }}</td>
                                <td>{{ .CreatedAt }}</td>
                                <td>{{ if eq .ID $.ActiveDeployID }}<span class="tag is-primary">Active</span>{{ end }}
                                </td>
                                <td>
                                    {{ if ne .ID $.ActiveDeployID }}
                                    <form action="/active-deploy" method="POST">
                                        <input type="hidden" name="_csrf" value="{{ $.CSRF }}" />
                                        <input type="hidden" name="deploy_id" value="{{ .ID }}" />
                                        <button class="button is-success" type="submit">有効にする</button>
                                    </form>
                                    {{ end }}
                                </td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    {{ else }}
                    <p class="title">MYRS ログイン</p>
                    <form action="/sign-in" method="POST">
                        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
                        <div class="field">
                            <label class="label">サイト名</label>
                            <div class="control">
                                <input class="input" type="text" name="site_name" />
                            </div>
                            <span class="help">.{{ .SiteDomain }}</span>
                        </div>
                        <div class="field">
                            <label class="label">パスワード</label>
                            <div class="control">
                                <input class="input" type="password" name="password" />
                            </div>
                        </div>
                        <button class="button is-fullwidth is-success is-outlined" type="submit">ログイン</button>
                    </form>
                    <p class="my-4">または</p>
                    <a class="button is-fullwidth is-success" href="/create-site">
                        サイトを作成する
                    </a>

                    {{ end }}
                </div>
            </div>
        </section>
    </main>
</body>


</html>
{{ end }}