{{ define "log" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>myrs</title>
</head>
<style>
    @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
</style>

<body>

    <main class="container">
        <h1 class="title">
            {{ .Site.Name}}.{{ .SiteDomain }} Logs
        </h1>

        <div class="buttons">
            <a class="button" href="/">戻る</a>
        </div>

        <div style="position: relative; height:250px">
            <canvas id="myChart"></canvas>
        </div>

        <div class="table-container">
            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Method</th>
                        <th>Path</th>
                        <th>BodyBytesSent</th>
                        <th>ResponseTime</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Logs }}
                    <tr>
                        <td style="white-space: nowrap; vertical-align: middle;" rowspan="2">{{ .Time }}</td>
                        <td>
                            <span class="tag {{ statusTagColor .Status }}">{{ .Status }}</span>
                        </td>
                        <td>{{ .Method }}</td>
                        <td>{{ .Path }}</td>
                        <td>{{ .BodyBytesSent }}</td>
                        <td>{{ printf "%.3f" .RequestTime }}s</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <span class="tag">RemoteAddr:{{ .RemoteAddr }}</span>
                            <span class="tag">Method:{{ .Method }}</span>
                            <span class="tag">Protocol:{{ .Protocol }}</span>
                            <span class="tag">UserAgent:{{ .UserAgent }}</span>
                            <span class="tag">Referer:{{ .Referer}}</span>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        fetch("/api/minutely-request-counts").then((res) => {
            return res.json()
        }).then((res) => {
            const labels = res.Times.map((t) => {
                const d = new Date(t)
                return `${d.getFullYear()}-${d.getMonth()}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}`
            })
            const dataPoints = res.RequestCounts
            console.log(labels)

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Requests per Minute",
                        data: dataPoints,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
    </script>
</body>


</html>
{{ end }}